.App {
  text-align: center;
  background-color: darkslateblue;
}
h1 {
  margin-top: 0rem;
  background-color: aqua;
  
}
label {
  border-color: black;
  border-style: solid;
  border-width: 5px;
  padding: 0px;
  margin-left: 70ex;
  margin-right: 70ex;
  display: block;
  justify-content: center;
  height: fit-content;
}
form {
  padding: 5px;
  justify-items: center;
  margin-top: 1rem 0;
  display: block;
  justify-content: right;
  height: fit-content;
}
form1 {
  padding: 5px;
  justify-items: center;
  margin-top: 1rem 0;
  display: block;
  justify-content: right;
  height: fit-content;
}
 
.formtext {
  position: relative;
  top: -20px;
  background: white;
  padding: 0rem;
  width: 27px;
  color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5000vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
